<div class="footer-hero">
    <div class="footer-hero-mask"></div>
</div>
<footer class="footer">
    <div class="footer-wrapper">
        <section class="footer-about">
            <p class="footer-colophon">
                The Ministry of Type is a site about type, typography, lettering, calligraphy and other related things that inspire me. I
                am a designer, illustrator and front-end developer with over 20 years experience in web, print and identity
                and am based on the south coast of England. I love hand-tracing and recreating old designs as vector artwork,
                and there are many examples of that in this site.
            </p>
            <p class="footer-copyright">
                © 2016-2017 Martin Schade
            </p>
        </section>
        <ul class="footer-menu">
            <li><a href="/date">Archives by Date</a></li>
            <li><a href="/categories">Archives by Category</a></li>
            <li><a href="/feed">RSS Feed</a></li>
            <li><a href="https://www.twitter.com/ministryoftype">Twitter</a></li>
            <li><a href="/contact">Contact</a></li>
        </ul>
    </div>
</footer>