<header class="navigation">
    <div class="navigation-container">
        <ul class="navigation-root">
            <li class="flexible logo">
                <a class="navigation-link bold-font" href="{{ site.baseurl }}/">
                    <div class="logo-svg"></div>
                </a>
            </li>
            <li class="flexible navigation-primary">
                <a class="navigation-link" href="{{ site.baseurl }}/">Blog</a>
                <a class="navigation-link" href="{{ site.baseurl }}/trails">Trails</a>
                <a class="navigation-link" href="{{ site.baseurl }}/projects">Projects</a>
            </li>
            <li class="flexible navigation-secondary">
                <a class="navigation-link" href="{{ site.baseurl }}/about">About</a>
            </li>
        </ul>
    </div>
</header>