<!DOCTYPE html>
<html>

<head>
  <title>{% if page.title %}{{ page.title }} – {% endif %}{{ site.name }} – {{ site.description }}</title>

  {% include meta.html %}

  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/style.css" />
  <link rel="alternate" type="application/rss+xml" title="{{ site.name }} - {{ site.description }}" href="{{ site.baseurl }}/feed.xml"
  />
</head>

<body>

  {% include header.html %}
  <header class="content-hero">
    <div class="content-hero-mask"></div>
    <div class="content-hero-bg"></div>
  </header>

  <section id="main" role="main" class="content">
    {{ content }}
  </section>

  {% include footer.html %} {% include analytics.html %}
</body>

</html>